<div class="ui steps">
	<div class="ui step">
		装货中
	</div>
	<div class="ui active step">
		付款中
	</div>
	<div class="ui disabled step">
		确认订单
	</div>
	<div class="ui disabled step">
		完成
	</div>
</div>