<div class="pageaction" data-page-type="tag" data-sort-type="like">
    <div class="ui borderless pagination menu" style="box-shadow:none;float: left;">
        <%= paging_helper(@shares_count, params[:page].to_i) %>
    </div>
</div>
