<div class="ui divided list">
    <div class="item" style="padding-left: 0px;">
      <input type="text" contenteditable="true" class="comment-input" />
        <div class="comment-footer">
            <div class="comment-submit-link">提交</div>
        </div>
    </div>
    <div class="comment-main">
        <% @comments.each do |comment| %>
            <div class="item">
                <img class="ui avatar image" src="http://l.ruby-china.org/user/large_avatar/12172.jpg">
                <div class="content">
                    <div class="header">Snickerdoodle</div>
                    <%= comment.content %>
                </div>
            </div>
        <% end %>
    </div>
</div>
