@media (max-width: 960px) {
  .article {
    margin-left: 7px;
    margin-right: 7px;
  }
  .article .comment-input {
    width: 230px;
  }
  html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
  }
  .title-box {
    width: 354px;
    margin: 0px 7px;
  }
}
