.topbar {
  width: 1024px;
  margin: auto;
}
#operation {
  width: 1024px;
}
#content {
  width: 1024px;
}
.wrapper, .title-box {
  width: 728px;
}
.notification-box {
  position:relative;
}
.notification-list {
  display: none;
  width: 190px;
  position: absolute;
  /*min-height: 86px;*/
  top: 43px;
  left: 0px;
  z-index: 10;
  /*border: 1px solid #e6e6e6;*/
  /*background-color: #fff;*/
}
.notification-list .list-body {
  padding-top: 16px;
  /*max-height: 228px;*/
  overflow: hidden;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}
.notification-list .list-content {
  padding: 12px 10px 12px 10px;
  overflow:hidden;
}
.notification-list .list-content .content {
  float:left;
  padding-top: 2px;
}
.notification-list .list-content .close-button {
  cursor: pointer;
  float:right;
}
.notification-list .list-foot {
  height: 20px;
  position:absolute;
  width: 188px;
  bottom: 0px;
  background-color:#fafafa;
  text-align:center;
  cursor: pointer;
  border: 1px solid #e6e6e6;
}
.notification-list .list-body .list-empty-content {
  padding: 12px 10px;
  height: 58px;
  text-align: center;
}
#operation .user-info {
  width: 356px;
  right: 0px;
}
.pageaction {
  margin: 4px auto;
  overflow: hidden;
}
.pageaction-link {
  float:right;
  overflow:hidden;
  border-left: 1px solid #ddd;
  margin-right: 5px;
}
.pageaction a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pageaction .current_page {
  color: #999999;
}
