// Place all the styles related to the Shares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#operation {
  height: 1px;
  left: 12%;
  margin: 0 auto;
}

.article .comment-link, .article .article-like {
  float: right;
  margin-right: 14px;
  cursor: pointer;
}
.article .article-like {
  position: relative;
  top: 20px;
}
.article .comment-link:hover {
  color: #dd0000;
}
.article .comment-content {
  float: left;
  width: 100%;
}
.article .comment-input {
  width: 650px;
  float: right;
  height: 60px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  -webkit-appearance: none;
}
.article .comment-footer {
  float: right;
  width: 100%;
  margin: 5px 0px;
  position: relative;
}
.article .comment-submit-link {
  margin: 5px 0px;
  float: right;
}
.field-category {
  float: left;
  margin: 0px 4px;
}
.fields-category {
  width: 320px;
  overflow: hidden;
  position: relative;
}
.article[data-favourited='true'] .article-like {
  color: yellow;
}
