// Place all the styles related to the Shares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#operation {
  position: relative;
  height: 1px;
  margin: 0 auto;
}

.article .comment-link, .article .article-like {
  float: right;
  margin-right: 14px;
  cursor: pointer;
}
.article .article-like {
  position: relative;
  top: 20px;
}
.article .comment-link:hover {
  color: #dd0000;
}
.article .comment-content {
  float: left;
  width: 100%;
}
.article .comment-input {
  width: 650px;
  float: left;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  -webkit-appearance: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 2px solid #E8E8E8;
}
.article .comment-footer {
  float: left;
  position: relative;
}
.article .comment-submit-link {
  float: right;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 2px solid #E8E8E8;
  border-right: 2px solid #E8E8E8;
  border-bottom: 2px solid #E8E8E8;
  height: 35px;
  width: 48px;
  text-align: center;
  line-height: 31px;
}
#new_share .number-check {
  float: right;
  width: 80px;
  height: 41px;
  line-height: 41px;
}
.field-category {
  float: left;
  margin: 0px 4px;
}
.fields-category {
  width: 320px;
  overflow: hidden;
  position: relative;
}
.article[data-favourited='true'] .article-like {
  color: #E96633;
}
