// Place all the styles related to the Shares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#operation {
  width: 1024px ;
  height: 1px;
  left: 12%;
  margin: 0 auto;
}
