// Place all the styles related to the Shares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#operation {
  width: 1024px ;
  height: 1px;
  left: 12%;
  margin: 0 auto;
}

.article .comment-link, .article .article-like {
  float: left;
  width: 8%;
  margin-top: 20px;
  margin-left: 14px;
}
.article .comment-content {
  float: left;
  width: 100%;
}
.article .comment-input {
  width: 650px;
  float: right;
  height: 60px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.article .comment-footer {
  float: right;
  width: 100%;
  margin: 5px 0px;
  position: relative;
}
.article .comment-submit-link {
  margin: 5px 0px;
  float: right;
}
