<div class="topbar">
  <div class="ui large menu">
    <a class="item">
      今天,我
    </a>
    <div class="ui label">
      <a href=""><i class="mail icon"></i> 23</a>
    </div>
    <div class="right menu">
      <div class="item">
        <div class="ui icon mini input width190">
          <input type="text" placeholder="搜索中...">
          <i class="search link icon"></i>
        </div>
      </div>
      <div class="ui simple dropdown item">
        类目 <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">爱情</a>
          <a class="item">动物</a>
          <a class="item">金钱</a>
          <a class="item">孩子</a>
          <a class="item">工作</a>
          <a class="item">健康</a>
          <a class="item">XXOO</a>
          <a class="item">杂项</a>
        </div>
      </div>
      <div class="item">
        <div class="ui orange button">注册</div>
      </div>
    </div>
  </div>
</div>